/*corpo do site*/
body{
	/*cor do fundo */
	background-color: #FFAA00;
	/*fonte */
	font-family: Arial;
	/*tamanho fonte*/
	font-size: 13px; 
}
/* criando card */
.form{
	/*tamanho do card*/
	width: 400px;
	/*centralizando card*/
	margin: auto;
	/*separando da margem*/
	margin-top: 70px;
}
/*ajustes do card*/
.card{
	/* cor de fundo do card*/
	background-color: #f5f5f5;
	/*espaçamento da borda*/
	padding: 30px;
	/*arredondamento da borda*/
	border-radius: 21px;
}
/* ajustes da parte de email, senha e entrar*/
.cardgroup{
	/*espaço entre o email, senha e entrar*/
	margin-bottom: 28px;
}
/*imagem e mensagem*/
.cardtop{
	/*alinha ao centro a imagem e a mensagem*/
	text-align: center;
}
/* configurações do local aonde escreve email e senha */
.cardgroup > center > input{
	/*cor da borda*/
	border-color: #d1d1d1;
	/*arredondamento da borda*/
	border-radius: 13px;
	/*retira a borda que fica ao clicar*/
	outline: 0;
	/*tamanho de acordo com o card*/
	width: 85%;
	/*espaçamento para escrita*/
	height: 15px;
	/*tamanho da fonte*/
	font-size: 120%;
	/*afasta da borda o texto*/
	padding: 10px;
}
/*botão de entrar*/
.cardgroup > center > button{
	/*arredondamento da borda*/
	border-radius: 13px;
	/*retira a borda que fica ao clicar*/
	outline: 0;
	/*retira a borda*/
	border: 0px;
	/*cor do que tiver dentro*/
	color: white;
	/*espaçamento entre o conteudo e a borda*/
	padding: 15px;
	/* cor de fundo*/
	background-color: #ff6d00;
	/*tamanho de acordo com o card*/
	width: 50%;
}
/* mensagem de desenvolvido */
.bottom{
	/*cor da letra*/
	color: #4949ad;
	/*tamanho da letra*/
	font-size: 12px;
	/*alinhamento no centro da página*/
	text-align: center;
}

/*imagem*/
.imglogin{
	/*tamanho da imagem*/
	width: 150px;
}
/* muda a cor da mensagem e o espaçamento de acordo com o topo*/
.title{
	/* separa do topo */
	margin-top: 5px;
	/*muda a cor da letra*/
	color: #f37321;
}
